<!DOCTYPE html>
<html>
<body>
  <h1>Create Your Pirate And Fleet</h1>
  <form method="get" action="/new">
    <p>Pirate name: <input type="text" name="pirate[name]"></p>
    <p>Pirate weight: <input type="text" name="pirate[weight]"></p>
    <p>Pirate height: <input type="text" name="pirate[height]"></p>
    <br />
    <p>First Ship name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
    <p>First Ship type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
    <p>First Ship booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
    <br />
    <p>Second Ship name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
    <p>Second Ship type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
    <p>Second Ship booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
